body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  padding: 1rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}
